# Snowflake connection parameters
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER = 
SNOWFLAKE_PASSWORD = 
SNOWFLAKE_WAREHOUSE = 
SNOWFLAKE_DATABASE = 
SNOWFLAKE_SCHEMA = 
SNOWFLAKE_ROLE = 

#AWS S3 parameters
SSO_PROFILE_NAME =
AWS_REGION_NAME =
AWS_BUCKET_NAME = 
PROJECT_FOLDER = 

# Census API parameters
CENSUS_API_URL = https://api.census.gov/data/2023/acs/acs5/profile
CENSUS_API_KEY = 

# OpenFDA API parameters
OPENFDA_API_KEY = 

# ClinicalTrials.gov API parameters
CLINICAL_TRIALS_API_BASE=https://clinicaltrials.gov/api/v2/studies

#Raw file names for s3
OPENFDA_RAW_FILE_NAME=openfda_drugs.parquet
DEMO_FAERS_RAW_FILE_NAME=demo_faers_raw.parquet
DRUG_FAERS_RAW_FILE_NAME=drug_faers_raw.parquet
REAC_FAERS_RAW_FILE_NAME=reac_faers_raw.parquet
CLINICAL_TRIALS_RAW_FILE_NAME=clinical_trials_raw.parquet
CENSUS_FIPS_RAW_FILE_NAME=census_fips.parquet